<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.springboot.mapper.TestMapper">

    <resultMap id="member" type="com.test.springboot.entity.Member">
        <result column="reg_no" property="regNo"/>
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <select id="appMember" resultMap="member">
        SELECT
            `reg_no`,
            `nick_name`,
            `real_name`
        FROM `member`
        WHERE `reg_no` = #{regNo}
        LIMIT 1
    </select>

    <select id="queryMember1" resultMap="member">
        SELECT
            `reg_no`,
            `nick_name`,
            `real_name`
        FROM `member`
        WHERE `reg_no` = #{regNo}
        LIMIT 1
    </select>

    <select id="queryMember2" resultMap="member">
        SELECT
            `reg_no`,
            `nick_name`,
            `real_name`
        FROM `member`
        WHERE `reg_no` = #{regNo}
        LIMIT 1
    </select>

    <update id="updateMember" parameterType="java.util.List">
        update `member` set `nick_name`=
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case reg_no" close="end">
            when #{item.regNo} then #{item.nickName}
        </foreach>
        where `reg_no` in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.regNo}
        </foreach>
    </update>

    <insert id="insertMember" parameterType="com.test.springboot.entity.Member">
        INSERT INTO `member`
        (`reg_no`, `nick_name`, `real_name`)
        VALUES (#{regNo}, #{nickName}, #{realName})
    </insert>


</mapper>